<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2 v-for="item in movies">{{item}}</h2>
        <br/>
        <h3 v-for="(item,index) in movies">{{index+1}}.{{item}}</h3>
    </div>
    <script src="../js/vue.js"></script>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                movies:['海贼王','哪吒','征服']
            }
        })
    </script>
</body>
</html>